{%extends 'index.html'%}
{% block content %}
<div id="mainup">
    <input type="file" id="default-btn" hidden>
    
    <div id="upload">
        <P class="input"></P>
        <button onclick="defaultBtnActive()">SELECT FILE</button>
    </div>
</div>
    
<div class="bo">
        <button onclick="upload()">Upload</button>
        <button class="start"  onclick="window.location.href = '/resule'">Start Data Extracting </button>
</div>

<script>
    const defaultBtn = document.querySelector("#default-btn");
    const customBtn = document.querySelector("#custom-btn");
    const text = document.querySelector(".input")
    function defaultBtnActive(){
        defaultBtn.click();
      }
      defaultBtn.addEventListener("change", function(){
        const file = this.files[0];
        if (file){
            text.textContent=file.name;
        }
        else{
            text.textContent='';
        }
      });
      function upload(){
        alert("Uploaded");
        const file =defaultBtn.files[0];
        let formData = new FormData();
        formData.append('file','filenmae')
        formData.append('video', file, "video.mp4");
        fetch('/upload', {
          method: 'POST',
          body: formData
      });
      }
</script>
{% endblock %}